:root {
  --primary-color: #132b3e;
  --secondary-color: #417097;
  --primary-background-color: #fbf5ef;
  --secondary-background-color: #ffffffee;
  --primary-text-color: #333333;
  --secondary-text-color: #f8f6f3;
  --tertiary-text-color: #ad4a03;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
