:root {
  --primary-color: #132b3e;
  --secondary-color: #417097;
  --primary-background-color: #fbf5ef;
  --secondary-background-color: #ffffffee;
  --primary-text-color: #333333;
  --secondary-text-color: #f8f6f3;
  --tertiary-text-color: #bb5104;
  --primary-border-color: #d0d9e4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a{
  color: var(--secondary-color);
}

a:hover {
  color: var(--tertiary-text-color);
}